[submodule "Projet-InfoMob/"]
	url = https://github.com/Apirss/Projet-InfoMob
[submodule "Projet-POO/"]
	url = https://github.com/Apirss/Projet-POO
[submodule "IntroSQLProJUQAC/"]
	url = https://github.com/FireGh0st/IntroSQLProJUQAC
[submodule "Intro DB/IntroSQLProJUQAC/"]
	url = https://github.com/FireGh0st/IntroSQLProJUQAC
[submodule "POO/Projet-POO/"]
	url = https://github.com/Apirss/Projet-POO
[submodule "Info Mobile/Projet-InfoMob/"]
	url = https://github.com/Apirss/Projet-InfoMob
