[submodule "Intro DB/IntroSQLProJUQAC/"]
	url = https://github.com/FireGh0st/IntroSQLProJUQAC
[submodule "POO/Projet-POO/"]
	url = https://github.com/Apirss/Projet-POO
[submodule "Info Mobile/Projet-InfoMob/"]
	url = https://github.com/Apirss/Projet-InfoMob
